<a href="https://colab.research.google.com/github/katya123123/ML-labs/blob/main/ML_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Загрузка датасета

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("/content/student-mat.csv")

In [19]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

# Решение

In [20]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [21]:
df.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [22]:
df.tail(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [23]:
df.describe(include='all')

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395,395,395.000000,395,395,395,395.000000,395.000000,395,395,...,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
unique,2,2,NaN,2,2,2,NaN,NaN,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,GP,F,NaN,U,GT3,T,NaN,NaN,other,other,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,349,208,NaN,307,281,354,NaN,NaN,141,217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,16.696203,NaN,NaN,NaN,2.749367,2.521519,NaN,NaN,...,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,NaN,NaN,1.276043,NaN,NaN,NaN,1.094735,1.088201,NaN,NaN,...,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,NaN,NaN,15.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,NaN,NaN,16.000000,NaN,NaN,NaN,2.000000,2.000000,NaN,NaN,...,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,NaN,NaN,17.000000,NaN,NaN,NaN,3.000000,2.000000,NaN,NaN,...,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,NaN,NaN,18.000000,NaN,NaN,NaN,4.000000,3.000000,NaN,NaN,...,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,NaN,NaN,22.000000,NaN,NaN,NaN,4.000000,4.000000,NaN,NaN,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [24]:
#Ответы
#1
print(df.mean())

age           16.696203
Medu           2.749367
Fedu           2.521519
traveltime     1.448101
studytime      2.035443
failures       0.334177
famrel         3.944304
freetime       3.235443
goout          3.108861
Dalc           1.481013
Walc           2.291139
health         3.554430
absences       5.708861
G1            10.908861
G2            10.713924
G3            10.415190
dtype: float64

<ipython-input-24-357e916b1df2>:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.mean())

In [25]:
#2
intArr =[]
objArr = []
for i in df.columns:
  if df[i].dtype == 'int64':
    intArr.append(i)
  else:
    objArr.append(i)

df[intArr].min()

age           15
Medu           0
Fedu           0
traveltime     1
studytime      1
failures       0
famrel         1
freetime       1
goout          1
Dalc           1
Walc           1
health         1
absences       0
G1             3
G2             0
G3             0
dtype: int64

In [26]:
#3

df[intArr].max()

age           22
Medu           4
Fedu           4
traveltime     4
studytime      4
failures       3
famrel         5
freetime       5
goout          5
Dalc           5
Walc           5
health         5
absences      75
G1            19
G2            19
G3            20
dtype: int64

In [27]:
for i in intArr:
  df[i] = df[i].astype('Int64')

for obj in objArr:
  df[obj] = df[obj].astype('category')

df.dtypes

school        category
sex           category
age              Int64
address       category
famsize       category
Pstatus       category
Medu             Int64
Fedu             Int64
Mjob          category
Fjob          category
reason        category
guardian      category
traveltime       Int64
studytime        Int64
failures         Int64
schoolsup     category
famsup        category
paid          category
activities    category
nursery       category
higher        category
internet      category
romantic      category
famrel           Int64
freetime         Int64
goout            Int64
Dalc             Int64
Walc             Int64
health           Int64
absences         Int64
G1               Int64
G2               Int64
G3               Int64
dtype: object

**Ответ**: категориальные номинальные (Mjob, Fjob), категориальные порядковые (Medu, Fedu), числовые непрерывные (absences), числовые количественные (age)

In [28]:
#Фильтрация
df[df['health']>4]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15
12,GP,M,15,U,LE3,T,4,4,health,services,...,4,3,3,1,3,5,2,14,14,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6
387,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,0,7,5,0
389,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,0,6,5,0
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [29]:
df[df['age']<18]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,MS,F,17,U,GT3,T,2,2,other,at_home,...,3,4,3,1,1,3,8,13,11,11
373,MS,F,17,R,GT3,T,1,2,other,other,...,3,5,5,1,3,1,14,6,5,5
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,4,5,4,2,3,1,17,10,10,10
382,MS,M,17,U,GT3,T,2,3,other,services,...,4,4,3,1,1,3,2,11,11,10
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16

In [30]:
df[df['Medu']>3]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,0,10,8,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,MS,F,20,U,GT3,T,4,2,health,other,...,5,4,3,1,1,3,4,15,14,15
377,MS,F,18,R,LE3,T,4,4,teacher,services,...,5,4,3,3,4,2,4,8,9,10
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,3,2,4,1,4,2,4,15,14,14
384,MS,M,18,R,GT3,T,4,2,other,other,...,5,4,3,4,3,3,14,6,5,5
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6

In [31]:
df.groupby(['Mjob']).mean()

<ipython-input-31-f30b74bf91aa>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Mjob']).mean()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
Mjob,,,,,,,,,,,,,,,,
at_home,16.966102,1.711864,2.118644,1.694915,2.101695,0.423729,3.881356,3.016949,3.0,1.389831,2.338983,3.271186,4.694915,10.457627,9.677966,9.152542
health,16.352941,3.647059,2.941176,1.205882,2.0,0.235294,3.764706,3.205882,3.323529,1.264706,2.382353,3.764706,4.558824,12.205882,12.352941,12.147059
other,16.751773,2.404255,2.234043,1.48227,2.028369,0.340426,3.971631,3.219858,3.106383,1.503546,2.248227,3.489362,6.170213,10.177305,10.177305,9.822695
services,16.679612,2.84466,2.572816,1.38835,2.029126,0.466019,4.029126,3.271845,3.135922,1.524272,2.281553,3.747573,6.019417,11.38835,11.213592,11.019417
teacher,16.517241,3.948276,3.293103,1.362069,2.017241,0.051724,3.896552,3.448276,3.051724,1.568966,2.310345,3.534483,5.741379,11.534483,11.224138,11.051724

In [32]:
#Звездочка
import numpy as np
import csv

In [33]:
with open('student-mat.csv') as f:
  arr = list(csv.reader(f, delimiter=','))

arr = np.array(arr)
arr

array([['school', 'sex', 'age', ..., 'G1', 'G2', 'G3'],
       ['GP', 'F', '18', ..., '5', '6', '6'],
       ['GP', 'F', '17', ..., '5', '5', '6'],
       ...,
       ['MS', 'M', '21', ..., '10', '8', '7'],
       ['MS', 'M', '18', ..., '11', '12', '10'],
       ['MS', 'M', '19', ..., '8', '9', '9']], dtype='<U10')

In [34]:
category = arr[:,8]
cat_clr = np.delete(category, 0, 0)

In [35]:
num = arr[:,2]
num_clr = np.delete(num, 0, 0).astype(int)

In [36]:
at_home = np.array([])
service = np.array([])
other = np.array([])
teacher = np.array([])
health = np.array([])
for i in range(len(cat_clr)):
  if cat_clr[i] == 'at_home':
    at_home = np.insert(at_home, 0, num_clr[i])
  elif cat_clr[i] == 'services':
    service = np.insert(service, 0, num_clr[i])
  elif cat_clr[i] == 'other':
    other = np.insert(other, 0, num_clr[i])
  elif  cat_clr[i]== 'teacher':
    teacher = np.insert(teacher, 0, num_clr[i])
  elif cat_clr[i] == 'health':
    health = np.insert(health, 0, num[i])

print('at_home mean: ', np.mean(at_home.astype(int)), '\n',
      'service mean: ', np.mean(service.astype(int)), '\n',
      'other: ', np.mean(other.astype(int)), '\n',
      'teacher mean: ', np.mean(teacher.astype(int)), '\n',
      'health: ', np.mean(health.astype(int)), '\n')

print('at_home median: ', np.median(at_home.astype(int)), '\n',
      'service median: ', np.median(service.astype(int)), '\n',
      'other:  median: ', np.median(other.astype(int)), '\n',
      'teacher median: ', np.median(teacher.astype(int)), '\n',
      'health  median: ', np.median(health.astype(int)), '\n')

at_home mean:  16.966101694915253
 service mean:  16.679611650485437
 other:  16.75177304964539
 teacher mean:  16.517241379310345
 health:  16.470588235294116

at_home median:  17.0
 service median:  16.0
 other:  median:  17.0
 teacher median:  16.0
 health  median:  16.0